<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="corpo">
    <div class="container">
      <header class="cabecalho">
        <div class="cabecalho__content">
          <h1 class="titulo"><%= title %></h1>
        </div>

        <div class="cabecalho__actions">
          <label for="categorias">Categorias</label>
          <select id="categorias" onchange="location = this.value;">
            <option value="">--Selecione--</option>
            <option value="/produtos/alimentos">Alimentos</option>
            <option value="/produtos/brinquedos">Brinquedos</option>
            <option value="/produtos/eletronicos">Eletrônicos</option>
            <option value="/produtos/roupas">Roupas</option>
          </select>
        </div>
      </header>

      <main>
        <h2 class="para">Bem vindo para a área de <%= title %></h2>
        <p id="algo" class="para">Aqui você poderá comprar tudo que deseja</p>
        
        <a href="/produtos/alimentos"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrJZMoB7eccmOpPFS99ROmNXxlGYQrYJdVbg&s" alt="chocolate" width="20%"class="imagem" onclick="proximaPagina()" /></a>
        <a href="/produtos/brinquedos"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR8v99x8cYuGLxo1GFsK0u56Q9Fm-SJsCFNg&s" alt="brinquedos" width="24%"class="imagem" /></a>
        <a href="/produtos/eletronicos"><img src="https://www.agenciaeplus.com.br/wp-content/uploads/2025/04/Brasil-lider-em-ecommerce-de-eletronicos.jpg" alt="eletrônicos" width="20%"class="imagem" /></a>
        <a href="/produtos/roupas"><img src="https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_plugin/roupasnovaral.jpg" alt="roupas" width="19%"class="imagem" /></a>


        <button class="botao" onclick="revelarAlgo()">Revelar Algo</button>
        <button class ="botao" onclick="mudarCor()">Mudar Fundo</button>
      </main>

      <footer class="site-footer">
        <p>Número para contato: (48) 94002-8922</p>
      </footer>
    </div>

    <script src="/javascripts/jsprodutos.js"></script>
  </body>
</html>
