<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="cabecalho">
        <h2 class="voltar"><a href="/produtos">voltar</a></h2>
        <h1 class="titulo"><%= title %></h1>
      </header>

      <main>
        <h2>Bem vindo para a área de <%= title %></h2>
        <p>Aqui você poderá comprar tudo que deseja</p>
        <img src="https://guiadacozinha.com.br/wp-content/uploads/2018/10/paofrancesfolhado.jpg" alt="pão francês" width="24%"class="imagem" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrJZMoB7eccmOpPFS99ROmNXxlGYQrYJdVbg&s" alt="chocolate" width="20%"class="imagem" />
        <img src="https://imagens.jotaja.com/produtos/3263/F1E99B46D54B6C1A0E89FE9EDB003B984FE80DE2BC36F0FD2BD5CB06A31A22BF.jpeg" alt="pão francês" width="28%"class="imagem" />
      </main>

      <footer class="site-footer">
        <p>Número para contato: (48) 94002-8922</p>
      </footer>
    </div>
  </body>
</html>