extends layout

block content
  header.cabecalho
    h1.titulo #{title}
    p.sutitulo Bem vindo ao site da #{title}

    nav.menu
      ul
        li
          a(href="/" onclick="navega()") Home
        li
          a(href="/apan/mensagem" onclick="navega()") Mensagem
        li
          a(href="/apan/cadastro" onclick="navega()") cadastro 
  
  main
    img(src="https://upload.wikimedia.org/wikipedia/pt/thumb/6/6a/VoleiBlumenau.png/250px-VoleiBlumenau.png", alt="equipe de voleibol Blumenau")

    p.paragrafo Somos uma equipe de voleibol apaixonada, dedicada a compartilhar notícias, análises e histórias inspiradoras sobre o mundo do voleibol.
    br
    p.paragrafo Nosso objetivo é criar uma comunidade vibrante onde fãs, jogadores e entusiastas possam se conectar, aprender e celebrar o esporte que amamos. Junte-se a nós para explorar as últimas novidades, entrevistas exclusivas e muito mais sobre o emocionante universo do voleibol!

  footer
    p Rodapé do site - Todos os direitos reservados.
    p Contato: (48)92345-6789 | Email: info@voleibolblumenau.com.br

    