doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    footer
      p Rodapé do site - Todos os direitos reservados.
      p Contato: (48)92345-6789 | Email: info@voleibolblumenau.com.br

    script(src='/javascript/jsapan.js')
